extends layout

block content
  h1='Azure Container Registry'
  h2='Quarantine Pattern'
  img.image(src='/images/ACR.png' )
  img.image(src='/images/Quarantine.png' height='80')
  p Scanned by: #{scanner}
  img.image(src='/images/' + scanLogo height='80')
  p Version: #{version}
